/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
p,ol,ul {list-style:none;}
p, img {padding:0;margin:0;}
caption,th {text-align:left;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
/* /reset */

body{
  font-size:14px;
  font-family:Arial, “Helvetica Neue”, Helvetica, sans-serif;
  background:#ddd;
}

h1,h2,h3,
h4,h5,h6{
  font-family: 'Ledger', serif; 
  font-weight:normal;
  padding:10px 0 2px 0;
}

h1{font-size:160%}
h2{font-size:145%}
h3{font-size:130%}
h4{font-size:115%}
h5{font-size:100%}
h6{font-size:90%}

p{padding:5px 0; line-height:1.2em;}

a{text-decoration:none;}
a:hover{text-decoration:underline;}

/* Structure */
#wrapper{
  width:967px;
  margin:0 auto;
  background:#fff;
}
#header{}
#content{clear:both; padding:20px;}
#footer{}
/* xxxxxxxxxxx */

/* Navigation */
#nav{position:relative; z-index:500;}
#nav li{
  float:left;
  position:relative;
}
#nav li a{
  display:block;
  padding:5px 10px;
}
#nav li ul{position:absolute; left:-9999px}
#nav li ul a{background:#ccc;}
#nav li ul a:hover{background:#eee;}
#nav li ul li{float:none; width:200px;}
#nav li:hover ul{left:auto}

/* Homepage Slideshow */
#gallery{position:relative; width:700px; height:500px; overflow:hidden; clear:both;}
#gallery img{width:700px; height:500px; position:absolute;}
.slidetabs{position:absolute; bottom:0; left:0;}
.slidetabs a{
  display:block; 
  height:10px; width:10px; 
  margin:10px; 
  float:left; 
  background:#000; 
  border:1px solid #fff;
}
.slidetabs a.current{background:#888;}

/* Content */
#content ul{
  list-style-type:disc;
  padding:3px 0 5px 20px;
}
