/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
p,ol,ul {list-style:none;}
p, img {padding:0;margin:0;}
caption,th {text-align:left;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
/* /reset */

body{
  font-size:16px;
  font-family:Arial, “Helvetica Neue”, Helvetica, sans-serif;
  background:#666;
}

h1,h2,h3,
h4,h5,h6{
  color:#6e1f33;
  font-family: 'Kaushan Script', "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;  
  font-weight:normal;
  padding:10px 0 10px 0;
}

h1{font-size:180%}
h2{font-size:160%}
h3{font-size:140%}
h4{font-size:125%}
h5{font-size:100%}
h6{font-size:90%}

p{padding:5px 0; line-height:1.7em;}

a{color:#6e1f33; text-decoration:none;}
p a{font-weight:bold;}
a:hover{text-decoration:underline;}

.clear{clear:both;}

/* Structure */
#wrapper{
  width:967px;
  margin:0 auto;
  background:#fff;
  
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  
  -moz-box-shadow: 0 2px 6px #000;
  -webkit-box-shadow: 0 2px 6px #000;
  box-shadow: 0 2px 6px #000;
}
#header{
  position:relative;
  margin-top:10px;
  height:159px; width:967px;
  background:url(/images/header-bg.png) no-repeat;
  -webkit-border-radius:15px 15px 0 0;
  -moz-border-radius:15px 15px 0 0;
  border-radius:15px 15px 0 0;
}
#content{
  clear:both;
  float:left;
  background:#d8d8d8; 
  background:#fff;  
  padding-bottom:20px;
  width:100%;
  min-height:400px;
  
  -webkit-border-radius:0 0 15px 15px;
  -moz-border-radius:0 0 15px 15px;
  border-radius:0 0 15px 15px;
}
#footer{
  width:967px;
  margin:0 auto;
  padding:0 0 15px 0;
  color:#fff; 
  font-size:80%;
  text-align:center;
}

/* Navigation */
#nav{
  position:relative; 
  float:left; z-index:500; 
  background-color:#651126; 
  font-size:20px;
  width:100%; height:1.9em;
  text-transform:uppercase;
  text-align:center;
  
  -moz-box-shadow:0 2px 4px -1px #000;
  -webkit-box-shadow:0 2px 4px -1px #000;
  box-shadow:0 2px 4px -1px #000;
}
#nav ul{display:inline-block; position:relative; height:2em;}
#nav li{float:left; position:relative;}
#nav li a{
  display:block;
  color:#fff;
  font-weight:bold;
  line-height:1em;
  padding:.5em 1em .4em 1em;
  font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}
#nav li a:hover{
  text-decoration:none;
  background-color:#B82147;
  background-image:-webkit-linear-gradient(bottom, #B82147, #470B1A);
  background-image:-moz-linear-gradient(bottom, #B82147, #470B1A);
  background-image:-ms-linear-gradient(bottom, #B82147, #470B1A);
  background-image:-o-linear-gradient(bottom, #B82147, #470B1A);
  background-image:linear-gradient(bottom, #B82147, #470B1A);
}
#nav li ul{position:absolute; display:block; left:-9999px}
#nav li ul a{background:#666; font-size:.75em; text-transform:none; text-align:left;}
#nav li ul a:hover{}
#nav li ul li{float:none; width:200px; border-top:1px solid #290011;}
#nav li:hover ul,
#nav li.open ul{left:auto}

/* Homepage Slideshow */
#gallery{
  position:relative; 
  width:967px; height:250px; 
  overflow:hidden; 
  clear:both; 
  border-bottom:14px solid #651126;
  background:#222;
}
#gallery img{width:967px; height:250px; position:absolute;}
.slidetabs{
  display:none;
  position:absolute;
  bottom:0; left:0; 
  width:100%; 
  text-align:center; 
}
.slidetabs a{
  display:inline-block; 
  height:10px; width:10px; 
  margin:10px; 
  background:#000; 
  border:1px solid #fff;
  border-radius:5px;
}
.slidetabs a.current{background:#888;}

/* Content */
#main,
#mainFull{
  width:522px;
  float:left;
  padding:0 0 50px 50px;
  line-height:1.5em;
}
#scheduleButton{
  display:block;
  width:336px; height:60px;
  margin:20px 15px 20px 0;
  background:url("/images/sched_button.png");
  float:right;
  clear:right;
  text-indent:-9999px;
}

#scheduleButton:hover{background-position:0 -60px;}

#side{
  float:right;
  clear:right;
  margin:0 20px 0 0;
  padding:20px 30px 12px 30px;
  width:268px;
  background:#eee;
  border:1px solid #a3a3a3;
  font-size:120%;
  
  -moz-border-radius:10px;
  border-radius:10px;
  
  -moz-box-shadow:2px 2px 6px #888;
  -webkit-box-shadow:2px 2px 6px #888;
  box-shadow:2px 2px 6px #888;
}
#side,#side h2,#side h3,#side h4{
  font-family:"Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}
#side h2,#side h3,#side h4{
  letter-spacing:3px;
  font-weight:bold; 
  padding:15px 0 7px 0; 
}
#side p{line-height:1.2em;}
#content ul{
  list-style-type:disc;
  padding:3px 0 5px 20px;
}

img.image-align-left{float:left; margin:10px 15px 3px 0;}
img.image-align-right{float:right; margin:10px 0 3px 15px;}

/* Interior Pages */

.show #scheduleButton{margin-top:30px;}
.show #main, .show #mainFull{padding-top:30px;}
.show #mainFull{width:863px;}
.show #side{padding:15px 30px;}
#side img{
 width:268px;
 margin:15px 0;
 border:1px solid #a3a3a3;
 -moz-border-radius:4px;
  border-radius:4px;
}
#socialMediaButtons{margin:15px 0 0 0; padding:11px 0 0 0; border-top:1px solid #888;}
#side #socialMediaButtons #facebookButton{
  width:32px;
  border:none;
  margin:0 0 0 0;
  position:relative;
  top:5px;
  
  -moz-border-radius:0;
    border-radius:0;
}
#googlePlusLink a{
  display:inline-block;
  width:25px; height:25px;
  background:url(/images/google_plus_icon.png);
  text-indent:-9999px;
  position:relative;
  top:-10px;
}

#socialMediaButtons .fb-like{
  position:relative; top:-6px;
  margin:0 8px 0 5px;
}

/* Blog Stuff */

.posts #content,
.categories #content{width:95%; padding:20px 0 20px 5%;}
.posts #body_content_left,
.categories #body_content_left{width:60%; float:left;}
.posts form label,
.categories form label{display:block;}
.posts form input,
.categories form input{margin-bottom:8px;}
.posts #flash,
.categories #flash{background:#20C70E; color:#fff; padding:5px; text-align:center;}
.posts .blog_comment_message .avatar{display:none;}
.posts .blog_post{border-bottom:1px solid #000; padding:5px 0 15px 0;}
.posts header h1 a,
.categories header h1 a{color:#178F91;}

/* Google Maps */
#map_canvas{
  width:500px; 
  height:400px; 
  background:#eee;
  border:1px solid #333;
}

